.theme-tan {
    background-color: rgb(244, 244, 244); /* #f4f4f4 */
    color: rgb(0, 0, 0);
}
.theme-tan.accent
{
    color: rgb(0,120,215); /* #0078d7 */
}

.theme-black {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.theme-black.accent {
    color: rgb(0,120,215);
}

.theme-white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.theme-white.accent {
    color: rgb(0,120,215);
}

.theme-blue {
    background-color: rgb(33,114,185); /* #2172b9 */
    color: rgb(255, 255, 255);
}
.theme-blue.accent {
    color: rgb(0, 0, 0);
}